**/node_modules/

**/target/
**/.output/
**/.turbo/

.git/
.gitignore
apps/server/rust-toolchain.toml
.vscode/
.idea/
*.swp

**/dist/
build/
*.log

**/.env
**/.env.*
!**/.env.example
**/*.pem
**/*.key
secrets/
.npmrc
