**/node_modules
**/.turbo
**/.output
**/build
**/dist
**/.tanstack
**/coverage
**/tmp

**/*.tsbuildinfo

.git
.github
.vscode
.idea
.DS_Store

**/.env
**/.env.*
!**/.env.example

**/*.log
npm-debug.log*

README.md
LICENSE
docker-compose.yml
docker/

apps/poc
