@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";
@plugin "tailwindcss-motion";

@custom-variant dark (&:is(.dark *));

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.75rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.84 0.1128 132.99);
	--primary-foreground: oklch(0.982 0.018 155.826);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.723 0.219 149.579);
	--chart-1: oklch(0.84 0.1128 132.99);
	--chart-2: oklch(0.74 0.1315 133.56);
	--chart-3: oklch(0.62 0.1368 134.31);
	--chart-4: oklch(0.5 0.134 135.6);
	--chart-5: oklch(0.37 0.1122 136.56);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.723 0.219 149.579);
	--sidebar-primary-foreground: oklch(0.982 0.018 155.826);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.723 0.219 149.579);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.77 0.2124 148.67);
	--primary-foreground: oklch(0.393 0.095 152.535);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.527 0.154 150.069);
	--chart-1: oklch(0.64 0.172 148.94);
	--chart-2: oklch(0.69 0.187 148.92);
	--chart-3: oklch(0.71 0.1754 150.51);
	--chart-4: oklch(0.74 0.1608 151.83);
	--chart-5: oklch(0 0 0);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.696 0.17 162.48);
	--sidebar-primary-foreground: oklch(0.393 0.095 152.535);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.527 0.154 150.069);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-spotifygreen: hsl(142.4 76.2 63.5);

	--animate-spinner: spinner 1.2s linear infinite;
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-collapsible-down: collapsible-down 0.2s ease-out;
	--animate-collapsible-up: collapsible-up 0.2s ease-out;
	--animate-appear: appear 0.6s forwards ease-out;
	--animate-appear-left: appear-left 0.6s forwards ease-out;
	--animate-appear-right: appear-right 0.6s forwards ease-out;
	--animate-appear-zoom: appear-zoom 0.6s forwards ease-out;
	--animate-pulse-hover: pulse-hover 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--animate-marquee: marquee 25s linear infinite;
	--animate-hover: hover 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--animate-hover-reverse: hover-reverse 6s cubic-bezier(0.4, 0, 0.6, 1)
		infinite;
	--animate-pulse-fade: pulse-fade 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	@keyframes spinner {
		from {
			opacity: 1;
		}
		to {
			opacity: 0.15;
		}
	}

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes collapsible-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-collapsible-content-height);
		}
	}

	@keyframes collapsible-up {
		from {
			height: var(--radix-collapsible-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100 - var(--gap)));
		}
	}

	@keyframes appear {
		0% {
			opacity: 0;
			transform: translateY(1rem);
			filter: blur(0.5rem);
		}
		50% {
			filter: blur(0);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
			filter: blur(0);
		}
	}

	@keyframes appear-left {
		0% {
			opacity: 0;
			transform: translateX(-1rem);
			filter: blur(0.5rem);
		}
		50% {
			filter: blur(0);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
			filter: blur(0);
		}
	}

	@keyframes appear-right {
		0% {
			opacity: 0;
			transform: translateX(1rem);
			filter: blur(0.5rem);
		}
		50% {
			filter: blur(0);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
			filter: blur(0);
		}
	}

	@keyframes appear-zoom {
		0% {
			opacity: 0;
			transform: scale(0.85);
			filter: blur(0.5rem);
		}
		50% {
			filter: blur(0);
		}
		100% {
			opacity: 1;
			transform: scale(1);
			filter: blur(0);
		}
	}

	@keyframes pulse-hover {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		50% {
			opacity: 0.5;
			transform: translateY(-1rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes hover {
		0% {
			transform: translateY(0) translateX(0);
		}
		50% {
			transform: translateY(-1rem) translateX(1rem);
		}
		100% {
			transform: translateY(0) translateX(0);
		}
	}

	@keyframes hover-reverse {
		0% {
			transform: translateY(0) translateX(0);
		}
		50% {
			transform: translateY(1rem) translateX(1rem);
		}
		100% {
			transform: translateY(0) translateX(0);
		}
	}

	@keyframes pulse-fade {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.3;
		}
		100% {
			opacity: 1;
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	button:not(:disabled), [role="button"]:not(:disabled) {
		cursor: pointer;
	}
}
@layer components {
	.custom-button {
		@apply
			!w-26
			!h-8
			!bg-primary
			!text-primary-foreground
			!shadow-xs
			hover:!bg-primary/90
			!inline-flex
			!items-center
			!justify-center
			!gap-1.5
			!whitespace-nowrap
			!rounded-md
			!text-sm
			!font-medium
			!transition-all
			!shrink-0
			!outline-none
			focus-visible:!border-ring
			focus-visible:!ring-ring/50
			focus-visible:!ring-[3px]
			aria-invalid:!ring-destructive/20
			dark:aria-invalid:!ring-destructive/40
			aria-invalid:!border-destructive;
	}

	.custom-button::after {
		@apply !hidden;
	}

	h1 {
		@apply scroll-m-20 text-4xl font-extrabold tracking-tight text-balance;
	}

	h2 {
		@apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight
	}

	h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight;
	}

	h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}
}